@import "setup";

// font-family: 'Amaranth', sans-serif;
// font-family: 'Titillium Web', sans-serif;

html {
    font-size: 62.5%;
}

body {
    background-image: url(../../assets/wp2021760.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Amaranth', sans-serif;
    text-transform: uppercase;
    font-size: 10rem;
    padding: 50px 0;
    display: table;
    margin: 0 auto;
    
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    border: none;
    background: transparent;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.diceContainer {
    margin: 0 auto;
}

.tableContainer {
    width: 250px;
    margin: 0 auto;
}

.buttonContainer {
    text-align: center;
}

.dice {
    position: relative;
    text-align: center;
    p {
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: 4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#diceResult {
    position: relative;
    font-size: 9.5rem;
    padding: 150px 0;
    margin: 0 auto;
    div, p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            color: black;
            font-family: 'Titillium Web', sans-serif;
        }
    }
}

.table {
    border: 5px solid black;
    margin-bottom: 25px;
    h2 {
        border-bottom: 5px solid black;
        font-size: 4rem;
        font-family: 'Amaranth', 'sans-serif';
        text-align: center;
        text-transform: uppercase;
        background: white;
        padding: 5px 0;
    }
    #rollHistory {
        overflow: auto;
        background: white;
        height: 250px;
        padding: 10px;
        line-height: 23px;
        font-size: 1.8rem;
        font-family: 'Titillium Web', 'sans-serif';
        p:nth-child(2n) {
            margin-bottom: 10px;
            border-bottom: 1px solid black;
        }
    }
}

.resetButton {
    padding: 10px 20px;
    background: white;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    &:hover {
        background: orange;
    }
}

/*
==============================================
fadeIn animations gotten from http://www.justinaguilar.com/animations/index.html#
==============================================
*/

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

/*
==============================================
fadeIn animations gotten from http://www.justinaguilar.com/animations/index.html#
==============================================
*/

/////////////////////////////////////////////////////////////////////////////////
                            // Media Queries //
////////////////////////////////////////////////////////////////////////////////

@media (max-width: 700px) {
    h1 {
        font-size: 8rem;
        text-align:center;
    }
    .diceContainer {
        width: 60%;
        ul {
            justify-content: space-between;
            &:nth-child(-n+3) {
                padding-bottom: 35px;
            }
        } 
    }

    .dice {
        img {
            width: 80%;
        }
        p {
            font-size: 3rem;
        }
    }

    #diceResult {
        padding: 125px 0;
    }
}

@media (max-width: 372px) {
    h1 {
        font-size: 7rem;
    }
    ul {
        justify-content: start;
        li {
            padding-top: 20px;
            width: 50%;
        }
    }

    .dice {
        p {
            font-size: 2.5rem;
        }
    }

    #diceResult {
        padding: 100px 0;
    }

}